.containers {
    display: flex;
    flex-direction: row;
}

.story-container2 {
    display: flex;
    flex-direction: column;
    max-width: 1030px;
    /* min-width: 552px;  */
    /* border-right: .5px solid #dddddd; */
    margin: 50px 150px;
}

/* .story-info {
    width: 792px;
    height: 461px;
} */

.story-header {
    margin-top: 56px;
    margin-bottom: 32px;
    text-align: left;
}

.story-author-info {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #191919;
}

.story-author-info2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #757575;
    margin-left: 30px;
} 
.story-title {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
    color: #292929;
    font-style: normal;
    line-height: 40px;
    display: flex;
    font-weight: 700;
    text-align: left;
    margin-bottom: 5%;
}

.story-content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #292929;
    font-style: normal;
    line-height: 32px;
    margin-bottom: 5%;
    margin-top: 5%;
}

/* .container-3 {
    display: flex;
    flex-direction: column;
    width: 329px; */
    /* min-height: 100vh;     */
    /* border: .5px solid #dddddd; */
/* } */

.story-image {
    width: 792px;
    height: 461px;
    object-fit: cover;
}

.story-likes-comments {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-self: center;
    /* position: sticky;
    top: 20px; */
    vertical-align: bottom;
}

.like-icon {
    max-width: 24px;
    align-items: center;
    margin-right: 3px;
}

.story-likes {
    margin-right: 25px;
}

.comment-icon {
    max-width: 20px;
    margin-right: 5px;
}

.story-like-counts {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #080808;
    font-style: normal;
    line-height: 20px;
    vertical-align: bottom;
}

.story-comment-counts {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #080808;
    font-style: normal;
    line-height: 20px;
    vertical-align: bottom;
}

.get-all-stories {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #191919;
    font-style: normal;
    line-height: 24px;
    font-weight: 500;
    gap: 5px;
}

















