.all_comments {
    margin-top: 15%;
}

.comments_wrapper {
    display: flex;
    flex-direction: column;
    margin: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.create_comment_form_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #292929;
    font-weight: 500;
}

.create_comment_form_input {
    display: flex;
    width: 366px;
    min-height: 200px;
    border: .5px solid #dddddd;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 10px;
    background-color: white;
    padding-top: 14px;
    padding-bottom: 14px;
}

.create_comment_respond_button {
    background: rgb(26, 137, 23);
    padding: 4px 12px 6px;
    border-width: 1px;
    border-radius: 99em;
    font-size: 14px;
    overflow: visible;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

.create_comment_cancel_button {
    padding: 4px 12px 6px;
    border: none;
    font-size: 16px;
    overflow: visible;
    color: black;
    margin-top: 10px;
    background-color: transparent;
    cursor: pointer;
}

.all_comments_container {
    border-top: .5px solid black;
    border-bottom: .5px solid black;
    padding: 10px;
}

.all_comments_user_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
}

.all_comments_user_info {
    line-height: 20px;
    color: #292929;
}

.all_comments_date {
    line-height: 20px;
    color: #757575;
    font-size: 14px;
}

.all_comments_content {
    line-height: 24px;
    color: #292929;
    margin-top: 10px;
}









/* dropdowns */
.dropdown {
    position: absolute;
    z-index: 1
}
