.create-story-container {
    /* display: flex; */
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #fff;
    /* margin-left: 20%; */
    overflow: auto;
}

.create-story-header {
    display: flex;
    justify-content: space-between;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.84);
    justify-content: space-around;
    vertical-align: bottom;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-top: 5%;
    min-height: 800px;
    padding-left: 20%;
    padding-right: 20%;
}


.create-story-button {
    padding: 0px 10px 10px 10px;
    border-radius: 99em;
    font-size: 15px;
    overflow: visible;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    border-color: #1a8917;
    background-color: #1a8917;
    height: 25px;
    width: 90px;
    line-height: 25px;
    border: 1px solid rgba(0, 0, 0, .15);
    text-decoration: none;
    font-weight: 400;
    align-content: center;
    font-family: Arial, "Helvetica Neue", sans-serif;
}