a:link {
    text-decoration: none;
};

a:visited {
    text-decoration: none;
}

.stories-container{
    box-sizing: content-box;
    display: block;
    padding: 50px;
}

.stories-author {
    margin-bottom: 20px;
}

.stories-wrapper{
    display: flex;
    box-sizing: inherit;
    flex-direction: column;
}

.stories-container-left{
    display: flex;
    box-sizing: inherit;
    flex-direction: column;
}

.stories_title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #292929;
    font-style: normal;
    line-height: 28px;
 }

.stories-content{
    border-bottom: .5px solid gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 24px;
    color: #292929;
    margin-right: 30px;
 }

.stories-container-right{
    display: flex;;
    flex-direction: row;
}

.stories-image{
    width: 200px;
    height: 134px;
}

