a:link {
    text-decoration: none;
};

a:visited {
    text-decoration: none;
}

.stories-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5% 10% 5% 10%;
    text-align: left;
    max-width: 792px;
}


.stories-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 250px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stories-divider {
    border-bottom: .5px solid #dddddd;
    margin-bottom: 20px;
    margin-top: 20px;
}

.stories-info {
    display: flex;
    flex-direction: column;
}

.stories-author-info {
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #292929;
    font-style: normal;        
    line-height: 20px;
    overflow: clip;
    text-overflow: ellipsis;
}


.stories-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #292929;
    font-style: normal;
    line-height: 28px;
 }

.stories-content{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 24px;
    color: #292929;
    margin-right: 30px;
    max-height: 48px;
    overflow: clip;
    text-overflow: ellipsis;
    word-break: break-word;
 }

.stories-image-container{
    display: flex;
    flex-direction: row;
}

.stories-image{
    width: 200px;
    height: 134px;
    margin-bottom: 10px;
}

.stories-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    align-self: flex-end;
}